<h2>Where are you going?</h2>

<form action="/street_to_coords">
  <div class="form-group">
    <label for="start_address">Starting Address</label>
    <input type="text" class="form-control" name="start_address" id="start_address" value="Street Address, City, State" required="required" >
  </div>
  <div class="form-group">
    <label for="end_address">Ending Address</label>

    <input type="text" class="form-control" name="end_address" id="end_address" value="Street Address, City, State" required="required">
  </div>
<input type="hidden" class="form-control" name="waypoint" id="waypoint">
  <h2>What are you looking for on the way?</h2>
  <div class="form-group">
    <label for="term">Search for</label>
    <input type="text" class="form-control" name="term" id="term" required="required" >
  </div>
  <div class="form-group">
  <label for="sort_method">
      Sort by
    </label>
    <%= select_tag :sort_method, options_for_select([["Best matched",0], ["Distance",1], ["Highest Rated",2]]), :class => "form-control"  %>
</div>
  <button class="btn btn-success">Route me!</button>
</form>
